.all{
    display: flex;
    flex-direction: column;

    .content{
        p{
            max-width: 800px;
            padding-right: 10%;
        }
        display: flex;
        .audio{
            display:flex;
            align-items: center;
            flex-direction: column;
            
            max-width: 300px;
            .sounds{
                padding-bottom: 10%;
            }

        }
    }
}